# copied from http://stackoverflow.com/questions/3325736/eclipse-android-and-gitignore

#built application files
*.apk
*.ap_

# files for the dex VM
*.dex

# Java class files
*.class

# generated GUI files
*R.java